salon {
    background: url("img/background.jpg");
}

temat {
    display: block;
    text-align: center;
    font-size: 46px;
    padding: 30px;
    background-color: rgba(0, 0, 0, 0.68);
    color: #fffef6;
    font-family: "Comic Sans MS";
}

autorzy {
    display: block;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.58);
    color: #FFFFFF;
    padding: 15px;
}

autor {
    display: block;
    text-align: center;
}

imie,
nazwisko,
nr_indeksu {
    padding: 0px 5px;
}

marki {
    background-color: rgba(0, 0, 0, 0.50);
    color: #cccbc4;
    display: block;
    list-style-type: circle;
    font-size: 24px;
    text-align: center;
    padding: 15px;
}

marka {
    display: list-item;
    list-style: circle inside;
}

marki:before {
    content: "Dostępne marki samochodów w salonie: ";
}

samochód {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.65);
    color: #cccbc4;
    display: inline-block;
    position: relative;
    padding: 30px;
    margin: 20px;
    width: 25%;
    border: solid 2px;
    font-size: 18px;
}


samochód:hover {
    background-color: rgba(0, 0, 0, 0.80);

}

samochód::before {
    content: "Marka: " attr(idref);
}

model::before {
    font-weight: normal;
    content: 'Model: ';
}

model {
    display: block;
    font-weight: bold
}

silnik::before {
    font-weight: normal;
    content: 'Pojemność silnika: ';
}

silnik {
    display: block;
    font-weight: bold;
}

dataProdukcji::before {
    font-weight: normal;
    content: 'Data produkcji: ';
}

dataProdukcji {
    display: block;
    font-weight: bold;
}

cena::before {
    font-weight: normal;
    content: 'Cena: ';
}

cena {
    display: block;
    font-weight: bold;
}

cena::after {
    content: attr(waluta);
}

przebieg::before {
    font-weight: normal;
    content: 'Przebieg: ';
}

przebieg {
    display: block;
    font-weight: bold;
}

przebieg::after {
    content: attr(jednostka);
}


@media screen and (max-width: 768px) {

    samochód {
        align-items: center;
        width: 88%;
        margin: 0px;
    }

}